@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Profession Card */

.prof-card:hover .prof-card__text {
  color: #2a2173 !important;
}
.prof-card:hover .prof-card__btn_first {
  background-color: #2b2173a7 !important;
  color: white !important;
}
.prof-card:hover .prof-card__btn_last {
  background-color: unset !important;
  border-color: white !important;
  color: white !important;
}

.staff-list .swiper-pagination-bullet {
  width: 20px;
  height: 6px;
  display: inline-block;
  background: #00956f;
  margin: 0 5px;
  border-radius: 20px;
  transition: opacity 0.5s, background-color 0.5s, width 0.5s;
}

.diplom-list .swiper-pagination-bullet {
  width: 20px;
  height: 6px;
  display: inline-block;
  background: #2a2173;
  margin: 0 5px;
  border-radius: 20px;
  transition: opacity 0.5s, background-color 0.5s, width 0.5s;
}

.degree-list .swiper-pagination-bullet {
  width: 10px;
  height: 6px;
  display: inline-block;
  background: #2a2173;
  margin: 0 5px;
  border-radius: 20px;
  transition: opacity 0.5s, background-color 0.5s, width 0.5s;
}
.degree-list .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 50px !important;
}

table,
th,
td {
  border: 1px solid black;
}
/* Пример для кастомизации скроллбара */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #00956f; /* Светло-серый */
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* Темнее при наведении */
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

.review-slide .swiper-slide {
  background: none;
}
